<html>
    <body>
        {% extends 'base.html' %}

        {% block body %}
        
        <h2><center>Добро пожаловать на главную страницу моего сайтика</center></h2>
        <p><center><b>С главной ты можешь перейти на несколько небольших проектиков <a href="/login">(Нажми на них):</a></b></center></p>

        <ol>
            <b><u><li><a href="/entry">Нахождение указаных символов в твоём предложнии</a></li>
            <li><a href="/rentry">Рандомайзер</a></li></u></b>
        </ol>
        
        {% endblock %}
    </body>
</html>