<html>
    <body>
        {% extends 'base.html' %}
        
        {% block body %}
                
        <form action="/rentry">
            <p align = "right"><input value="Обратно к рандомайзеру" type="SUBMIT"></p>
        </form>

        <h2>{{ the_title }}</h2>

        <table>
            <tr>
                {% for row_title in the_row_titles %}
                    <th>{{row_title}}</th>
                {% endfor %}
            </tr>
            {% for log_row in the_data %}
                <tr>
                    {% for item in log_row %}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>

            {% endfor %}
        </table>

        {% endblock %}
    </body>
</html>